* {
  background-color: rgb(179, 176, 176);
}

.App {
  /* border: 2px solid black; */
  margin: 100px auto;
  width: 50vw;
  height: 70vh;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.205);
}
h1 {
  text-align: center;
  padding-top: 20px;
}
